<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chord Matcher</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/vendor/material.min.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/vendor/material.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not request.state.song %}
      <meta property="og:title" content="ChordMatcher" />
    {% else %}
      <meta property="og:title" content="ChordMatcher - {{request.state.song['song']}}" />
    {% endif %}
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="http://chordmatcher.com/{{request.path}}" />
    {% if not request.image %}
      <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    {% else %}
      <meta property="og:image" content="{{request.image}}" />
    {% endif %}

    <!--twitter-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </head>
  <body>
    <!--facebook sdk -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=526193150898677";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="content"><div>{{rendered | safe}}</div></div>
    <script type="text/javascript">
      var initialState = {{request.state | tojson}}
    </script>
    <script type="text/javascript" src="/static/lib/compiled.js"></script>
  </body>
</html>
