body{

}

.language-flags > img{
  margin-left : 6px;
  height : 24px;
  cursor: pointer;
}

#color-overlay {
 position: absolute;
 z-index: -1;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: black;
 opacity: 0.6;
}

.background-image{
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/images/mainPhoto.jpg') center / cover;
}
@media screen and (max-width: 1024px){
  .desktop-search{
    display : none;
  }
  .mobile-search{
    background-color: #DDDDDD;
  }
  .mobile-search > .mdl-button{
    min-width: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px){
  .mobile-search{
    display : none;
  }
}

.mdl-textfield > input{
  display : inline-block;
}

/* Form element setup */
.supportForm .form {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  border-top: 5px solid #e65100;
  bottom: 12px;
  right : 12px;
  width: 300px;
  border-radius: 0 0 4px 4px;
  padding: 25px;
  background-color: #f5f6f7;
  z-index: 1;
}

.supportForm fieldset {
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;
}

.supportForm legend {
  font-weight: 400;
}

.supportForm legend, .supportForm label {
  display: inline-block;
  margin-bottom: .5rem;
}

.supportForm input[type='text'],
.supportForm textarea,
.supportForm select {
  display: block;
  padding: .5rem;
  width: 100%;
  background-color: white;
  border: 1px solid #e5e5e5;
  outline: none;

  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;

  &:focus {
    border-color: rgb(239,126,173);
  }
}

.supportForm textarea {
  max-width: 450px;
  height: 75px;
}

.supportForm select {
  height: 34px;
}

.supportForm select {
  font-size: .875rem;
}


.supportForm button {
  display: block;
  margin: 1em auto;
  padding: .5rem 2rem;
  font-size: 16px;
  color: white;
  width: 50%;
  float: left;
  border: none;
  background-color: #e65100;
  outline: none;


  /* We'll talk about this next */
  transform: perspective(300px) scale(.95) translateZ(0);
  transform-style: preserve-3d;

  /* List the properties that you're looking to transition.
     Try not to use 'all' */
  transition-property: none;

  /* This applies to all of the above properties */
  transition-duration: none;
}
.supportForm button:hover {
  cursor: pointer;
}

.supportForm .send {
  background-color: #001466;
  border-color: #001466;
  &:hover {
    background-color: rgba(#001466,0.9);
    border-color: rgba(#001466,0.9);
  }
}
.supportForm .cancel {
  color: #333;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  &:hover {
    background-color: rgba(#e7e7e7,0.9);
    border-color: rgba(#e7e7e7,0.9);
  }
}
